### Lists

In [14]:
a = c(1,2,4,"g")
x = list(0, 1L, "a", TRUE, 1 + (1+2i))
y = list(x,x)
#str(y)
y = list(x,x)
y[1]
y[[1]]
y[1][[1]]
y[[1]][[1]]
y[1][[1]][[1]]
# named list
test = list(name="Toby", score = c(87,57,72)) 
test$score
test$score[2]

# put different data structure's data in a list
flower= list(title="iris dataset", data= iris)
str(flower)
flower$data[1,"Sepal.Width"]

[[1]]
[1] TRUE

### File read and write

In [18]:
TW2330 = read.table('~/Desktop/tmp/tutorial/R/github/iii-R201603/data/2330.csv',
          header=TRUE,sep=",")
TW2330 = read.csv('~/Desktop/tmp/tutorial/R/github/iii-R201603/data/2330.csv',
          header=TRUE)

### Stock Example

In [28]:
str(TW2330)

'data.frame':	3854 obs. of  7 variables:
 $ Date     : Factor w/ 3854 levels "2000-01-04","2000-01-05",..: 3854 3853 3852 3851 3850 3849 3848 3847 3846 3845 ...
 $ Open     : num  148 148 147 149 146 ...
 $ High     : num  148 149 148 149 148 ...
 $ Low      : num  146 147 147 147 146 ...
 $ Close    : num  146 148 148 148 146 ...
 $ Volume   : num  38700000 18844000 20509000 20326000 19987000 ...
 $ Adj.Close: num  146 148 148 148 146 ...

In [47]:
#options(stringsAsFactors=FALSE)
tw2330 = read.csv("~/Desktop/tmp/tutorial/R/github/iii-R201603/data/2330.csv",
                  header=TRUE)
#str(tw2330)
#max(tw2330$Close)
#min(tw2330$Close)
#summary(tw2330$Close)
#hist(tw2330$Close)
#boxplot(tw2330$Close)
#tw2330$Date = as.Date(tw2330$Date)
#plot(tw2330$Date, tw2330$Close,type = "l")
#stock2 = tw2330[tw2330$Date >= '2015-01-01',]
#summary(stock2$Close)
#boxplot(stock2$Close)
ordered_stock = stock2[order(stock2$Close),]
#order(stock2$Close)
ordered_stock
ordered_stock[1,]
ordered_stock[nrow(ordered_stock),]
stock2[1,] - ordered_stock[1,]

ERROR: Error in charToDate(x): character string is not in a standard unambiguous format

         Date  Open  High   Low Close    Volume Adj.Close
87 2015-01-14 132.5 133.0 130.0 130.0  48740000     130.0
86 2015-01-15 131.5 133.0 131.5 131.5  40607000     131.5
89 2015-01-12 132.5 133.5 132.0 132.0  30338000     132.0
88 2015-01-13 131.0 133.0 130.5 132.5  37818000     132.5
93 2015-01-06 137.5 137.5 133.0 133.5  66778000     133.5
90 2015-01-09 135.0 135.5 133.0 134.0  61558000     134.0
92 2015-01-07 133.5 135.0 133.5 134.0  43703000     134.0
85 2015-01-16 140.0 140.0 136.0 137.0 124042000     137.0
83 2015-01-20 139.0 139.0 137.5 138.0  32739000     138.0
91 2015-01-08 136.5 138.0 136.0 138.0  42491000     138.0
84 2015-01-19 138.5 139.5 137.5 139.0  49986000     139.0
94 2015-01-05 140.5 140.5 137.5 139.5  32046000     139.5
81 2015-01-22 141.5 142.0 139.5 140.0  43846000     140.0
75 2015-01-30 145.0 145.5 141.0 141.0  43666000     141.0
82 2015-01-21 139.5 141.0 139.5 141.0  70464000     141.0
95 2015-01-02 141.0 141.0 141.0 141.0         0     141.0
96 2015-01-01 141.0 141.0 141.0 141.0         0     141.0
69 2015-02-09 143.0 143.5 141.5 142.0  26315000     142.0
18 2015-04-21 142.0 143.5 141.5 142.5  36209000     142.5
20 2015-04-17 143.0 144.0 142.5 142.5  76708000     142.5
34 2015-03-30 142.5 144.0 142.0 142.5  59832000     142.5
35 2015-03-27 144.0 145.5 142.5 142.5 106610000     142.5
68 2015-02-10 142.0 143.0 141.5 142.5  33294000     142.5
74 2015-02-02 140.5 143.0 140.5 142.5  29181000     142.5
19 2015-04-20 142.0 144.0 141.5 143.0  34341000     143.0
22 2015-04-15 143.5 144.5 141.5 143.0  71481000     143.0
26 2015-04-09 144.0 145.5 143.0 143.0  46493000     143.0
27 2015-04-08 145.5 146.0 143.0 143.0  47500000     143.0
70 2015-02-06 145.5 145.5 143.0 143.0  27301000     143.0
17 2015-04-22 143.5 145.0 143.0 143.5  40606000     143.5
76 2015-01-29 144.0 145.0 143.0 143.5  34459000     143.5
23 2015-04-14 145.0 145.5 143.5 144.0  41528000     144.0
32 2015-04-01 145.0 145.0 143.5 144.0  38697000     144.0
48 2015-03-10 145.0 145.0 144.0 144.0  46809000     144.0
73 2015-02-03 143.0 144.5 142.0 144.5  27160000     144.5
79 2015-01-26 145.5 145.5 143.5 145.0  46716000     145.0
80 2015-01-23 142.5 145.0 142.5 145.0  82089000     145.0
33 2015-03-31 144.0 145.5 143.0 145.5  56539000     145.5
36 2015-03-26 145.5 147.0 144.5 145.5 157081000     145.5
49 2015-03-09 147.5 147.5 145.0 145.5  67163000     145.5
71 2015-02-05 145.5 146.0 143.5 145.5  23363000     145.5
1  2015-05-14 148.0 148.5 146.0 146.0  38700000     146.0
28 2015-04-07 146.5 147.5 145.0 146.0  33362000     146.0
44 2015-03-16 149.0 149.5 146.0 146.0  36912000     146.0
47 2015-03-11 143.5 148.0 143.0 146.0  51795000     146.0
72 2015-02-04 144.5 146.5 144.0 146.0  40416000     146.0
5  2015-05-08 146.0 147.5 146.0 146.5  19987000     146.5
6  2015-05-07 146.0 147.5 146.0 146.5  21826000     146.5
77 2015-01-28 146.5 147.0 145.5 146.5  45898000     146.5
8  2015-05-05 147.5 148.0 146.0 147.0  27559000     147.0
10 2015-05-01 147.0 147.0 147.0 147.0         0     147.0
11 2015-04-30 147.0 148.5 146.5 147.0  48913000     147.0
16 2015-04-23 145.5 147.0 145.0 147.0  46931000     147.0
21 2015-04-16 145.0 147.0 144.5 147.0  54354000     147.0
24 2015-04-13 146.5 147.5 146.0 147.0  23821000     147.0
25 2015-04-10 146.0 147.0 145.0 147.0  33819000     147.0
29 2015-04-06 147.0 147.0 147.0 147.0         0     147.0
30 2015-04-03 147.0 147.0 147.0 147.0         0     147.0
31 2015-04-02 145.0 148.0 144.5 147.0  49213000     147.0
78 2015-01-27 145.5 147.0 144.5 147.0  52805000     147.0
3  2015-05-12 147.0 148.5 147.0 147.5  20509000     147.5
7  2015-05-06 145.5 148.0 145.5 147.5  18784000     147.5
9  2015-05-04 148.5 148.5 146.0 147.5  30811000     147.5
2  2015-05-13 147.5 149.0 147.0 148.0  18844000     148.0
46 2015-03-12 147.0 148.5 146.5 148.0  32183000     148.0
67 2015-02-11 146.0 149.0 146.0 148.0  71259000     148.0
4  2015-05-11 149.0 149.0 147.0 148.5  20326000     148.5
12 2015-04-29 150.0 151.0 148.0 148.5  37363000     148.5
59 2015-02-23 148.5 148.5 148.5 148.5         0     148.5
60 2015-02-20 148.5 148.5 148.5 148.5         0     148.5
61 2015-02-19 148.5 148.5 148.5 148.5         0     148.5
62 2015-02-18 148.5 148.5 148.5 148.5         0     148.5
63 2015-02-17 148.5 148.5 148.5 148.5         0     148.5
64 2015-02-16 148.5 148.5 148.5 148.5         0     148.5
65 2015-02-13 148.5 150.0 148.0 148.5  37815000     148.5
66 2015-02-12 149.5 149.5 147.5 148.5  33577000     148.5
43 2015-03-17 148.5 150.0 148.5 149.0  55718000     149.0
45 2015-03-13 148.0 149.5 147.0 149.0  45451000     149.0
50 2015-03-06 149.0 149.5 148.5 149.0  31316000     149.0
54 2015-03-02 151.5 153.0 148.5 149.0  41388000     149.0
51 2015-03-05 150.0 151.0 148.5 150.0  28872000     150.0
52 2015-03-04 150.0 151.5 149.0 150.5  32627000     150.5
53 2015-03-03 150.0 151.0 148.5 150.5  29134000     150.5
55 2015-02-27 150.5 150.5 150.5 150.5         0     150.5
56 2015-02-26 153.5 154.0 150.5 150.5  55574000     150.5
37 2015-03-25 152.0 152.5 150.5 151.0  44424000     151.0
58 2015-02-24 149.0 152.0 148.5 151.0  72531000     151.0
13 2015-04-28 153.5 153.5 150.5 151.5  43177000     151.5
14 2015-04-27 153.0 153.0 150.0 151.5  57529000     151.5
38 2015-03-24 153.5 153.5 151.5 151.5  36086000     151.5
15 2015-04-24 149.0 152.5 148.5 152.5 122689000     152.5
39 2015-03-23 154.0 154.0 152.5 153.5  26285000     153.5
42 2015-03-18 151.0 154.0 150.0 153.5  70808000     153.5
40 2015-03-20 151.5 154.0 151.5 154.0  37536000     154.0
41 2015-03-19 152.5 155.0 152.5 154.0  43070000     154.0
57 2015-02-25 152.5 154.5 152.5 154.5  48183000     154.5

### Function

In [52]:
# return automatically
func = function(x){x+1}
func(2)

[1] 1

In [ ]:
# call by value
a = 1
add1 = function(x){x = x+1
                   x}
add1(a)
a

In [54]:
a = list(1,2)
add2 = function(x){append(x,3)}
a
add2(a)

[[1]]
[1] 1

[[2]]
[1] 2

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [55]:
a = data.frame(a=1,b=2)
add3 = function(x){x[,ncol(x)+1] = 3
                   x}
a
add3(a)

  a b
1 1 2

  a b V3
1 1 2  3

In [58]:
# debug
square.it = function(x) {
    square = x*x
    square
}
my.fun = function(X.matrix, y.vec, z.scalar) {
    sq.scalar = square.it(z.scalar)
    mult = X.matrix %*% y.vec
    result = mult * sq.scalar
    result
}
my.mat = cbind(c(1, 3, 4), c(5, 4, 3))
my.fun(X.matrix = my.mat, y.vec = c(3, 3, 1, 2, 1), z.scalar = 9)
debug(my.fun)
my.fun(X.matrix = my.mat, y.vec = c(4, 3), z.scalar = 9)
undebug(my.fun)

ERROR: Error in X.matrix %*% y.vec: non-conformable arguments

debugging in: my.fun(X.matrix = my.mat, y.vec = c(3, 3, 1, 2, 1), z.scalar = 9)
debug at <text>#6: {
    sq.scalar = square.it(z.scalar)
    mult = X.matrix %*% y.vec
    result = mult * sq.scalar
    result
}
debug at <text>#7: sq.scalar = square.it(z.scalar)
debug at <text>#8: mult = X.matrix %*% y.vec

ERROR: Error in X.matrix %*% y.vec: non-conformable arguments

In [62]:
# attributes
f = function(a=1,b){
    a+b
}
f(2,1)
f = function(a,b=1){
    a+b
}
f(2)

[1] 3

[1] 3

In [93]:
match = read.table("~/Desktop/tmp/tutorial/R/github/iii-R201603/data/match.txt",
          sep="|",stringsAsFactors=FALSE)
match
mat = matrix(NA,nrow=5,ncol=5)
colnames(mat)=c("A","B","C","D","E")
rownames(mat)=c("A","B","C","D","E")
mat["A","B"] = 1
mat["A","C"] = 3
for(i in 1:nrow(match)){
    mat[match[i,1],match[i,2]] = match[i,3]
}
mat

   V1 V2 V3
1   A  B  1
2   A  C  3
3   A  D  2
4   A  E  0
5   B  A  2
6   B  C  1
7   B  D  3
8   B  E  0
9   C  A  2
10  C  B  0
11  C  D  1
12  C  E  5
13  D  A  1
14  D  B  1
15  D  C  2
16  D  E  0
17  E  A  1
18  E  B  1
19  E  C  2
20  E  D  3

   A  B  C  D  E
A NA  1  3  2  0
B  2 NA  1  3  0
C  2  0 NA  1  5
D  1  1  2 NA  0
E  1  1  2  3 NA

In [97]:
library(reshape)
t_match = cast(match,V1~V2)
melt(t_match)

Using V3 as value column.  Use the value argument to cast to override this choice

    V1 value V2
A    A    NA  A
A.1  B     2  A
A.2  C     2  A
A.3  D     1  A
A.4  E     1  A
B    A     1  B
B.1  B    NA  B
B.2  C     0  B
B.3  D     1  B
B.4  E     1  B
C    A     3  C
C.1  B     1  C
C.2  C    NA  C
C.3  D     2  C
C.4  E     2  C
D    A     2  D
D.1  B     3  D
D.2  C     1  D
D.3  D    NA  D
D.4  E     3  D
E    A     0  E
E.1  B     0  E
E.2  C     5  E
E.3  D     0  E
E.4  E    NA  E

## 向量迴圈

### lapply

In [109]:
x = list(c(1,2,3,4), c(5,6,7,8))
lapply(x, sum)

m1 = matrix(1:4, byrow=TRUE, nrow=2)
m2 = matrix(5:8, byrow=TRUE, nrow=2)
li = list(m1, m2)
lapply(li,mean)

lapply(li,function(e) e[1,])

[[1]]
[1] 10

[[2]]
[1] 26

[[1]]
[1] 2.5

[[2]]
[1] 6.5

[[1]]
[1] 1 2

[[2]]
[1] 5 6

[[1]]
     [,1] [,2]
[1,]    1    2
[2,]    3    4

[[2]]
     [,1] [,2]
[1,]    5    6
[2,]    7    8

### sapply

In [112]:
x = list(c(1,2,3,4), c(5,6,7,8))
str(sapply(x, sum))
str(lapply(x,sum))

 num [1:2] 10 26
List of 2
 $ : num 10
 $ : num 26

### apply

In [126]:
m = matrix(1:4, byrow=TRUE, nrow=2)
m
apply(m,MARGIN = 1,sum)
apply(m,MARGIN = 2,sum)
address = data.frame(city=c('Taipei',"Jiayi"),address = c("shilin","taibou"))
#address = read.csv('~/Desktop/tmp/tutorial/R/github/iii-R201603/data/fireagency.csv',
#                   header=TRUE)[2:3]
address
apply(address,1,paste,collapse="")

     [,1] [,2]
[1,]    1    2
[2,]    3    4

[1] 3 7

[1] 4 6

    city address
1 Taipei  shilin
2  Jiayi  taibou

[1] "Taipeishilin" "Jiayitaibou"

In [134]:
df = data.frame(a=c(201,196,213,196,218),b=c(108.9,94.8,115.7,95.3,112.5))
colnames(df) = c("height","weight")
df_name = data.frame(name=c("Quincy","Jordan","Steven","Arron","Alexis"),
                    stringsAsFactors=FALSE)
df_with_name = cbind(df_name,df)
df_with_name
apply(df_with_name,1,function(x){
    bmi = as.numeric(x[3])/(as.numeric(x[2])/100)^2
    bmi
})

    name height weight
1 Quincy    201  108.9
2 Jordan    196   94.8
3 Steven    213  115.7
4  Arron    196   95.3
5 Alexis    218  112.5

[1] 26.95478 24.67722 25.50199 24.80737 23.67225

### tapply

In [143]:
x = c(80,70,59,88,72,57)
t = factor(c(1,1,2,1,1,2))
tapply(x,t, mean)
by(x,t,mean)
data(iris)
iris
tapply(iris$Sepal.Length, iris$Species, mean)

   1    2
77.5 58.0

t: 1
[1] 77.5
------------------------------------------------------------
t: 2
[1] 58

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = "⋮"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "⋮"): invalid factor level, NA generated

    Sepal.Length Sepal.Width Petal.Length Petal.Width    Species
1            5.1         3.5          1.4         0.2     setosa
2            4.9         3.0          1.4         0.2     setosa
3            4.7         3.2          1.3         0.2     setosa
4            4.6         3.1          1.5         0.2     setosa
5            5.0         3.6          1.4         0.2     setosa
6            5.4         3.9          1.7         0.4     setosa
7            4.6         3.4          1.4         0.3     setosa
8            5.0         3.4          1.5         0.2     setosa
9            4.4         2.9          1.4         0.2     setosa
10           4.9         3.1          1.5         0.1     setosa
11           5.4         3.7          1.5         0.2     setosa
12           4.8         3.4          1.6         0.2     setosa
13           4.8         3.0          1.4         0.1     setosa
14           4.3         3.0          1.1         0.1     setosa
15           5.8         4.0          1.2         0.2     setosa
16           5.7         4.4          1.5         0.4     setosa
17           5.4         3.9          1.3         0.4     setosa
18           5.1         3.5          1.4         0.3     setosa
19           5.7         3.8          1.7         0.3     setosa
20           5.1         3.8          1.5         0.3     setosa
21           5.4         3.4          1.7         0.2     setosa
22           5.1         3.7          1.5         0.4     setosa
23           4.6         3.6          1.0         0.2     setosa
24           5.1         3.3          1.7         0.5     setosa
25           4.8         3.4          1.9         0.2     setosa
26           5.0         3.0          1.6         0.2     setosa
27           5.0         3.4          1.6         0.4     setosa
28           5.2         3.5          1.5         0.2     setosa
29           5.2         3.4          1.4         0.2     setosa
30           4.7         3.2          1.6         0.2     setosa
31           4.8         3.1          1.6         0.2     setosa
32           5.4         3.4          1.5         0.4     setosa
33           5.2         4.1          1.5         0.1     setosa
34           5.5         4.2          1.4         0.2     setosa
35           4.9         3.1          1.5         0.2     setosa
36           5.0         3.2          1.2         0.2     setosa
37           5.5         3.5          1.3         0.2     setosa
38           4.9         3.6          1.4         0.1     setosa
39           4.4         3.0          1.3         0.2     setosa
40           5.1         3.4          1.5         0.2     setosa
41           5.0         3.5          1.3         0.3     setosa
42           4.5         2.3          1.3         0.3     setosa
43           4.4         3.2          1.3         0.2     setosa
44           5.0         3.5          1.6         0.6     setosa
45           5.1         3.8          1.9         0.4     setosa
46           4.8         3.0          1.4         0.3     setosa
47           5.1         3.8          1.6         0.2     setosa
48           4.6         3.2          1.4         0.2     setosa
49           5.3         3.7          1.5         0.2     setosa
50           5.0         3.3          1.4         0.2     setosa
51           7.0         3.2          4.7         1.4 versicolor
52           6.4         3.2          4.5         1.5 versicolor
53           6.9         3.1          4.9         1.5 versicolor
54           5.5         2.3          4.0         1.3 versicolor
55           6.5         2.8          4.6         1.5 versicolor
56           5.7         2.8          4.5         1.3 versicolor
57           6.3         3.3          4.7         1.6 versicolor
58           4.9         2.4          3.3         1.0 versicolor
59           6.6         2.9          4.6         1.3 versicolor
60           5.2         2.7          3.9         1.4 versicolor
61           5.0         2.0          3.5         1.0 versicolor
62           5.9         3.0          4.2         1.5 versicolor
63           6.0         2.2          4.0         1.0 versicolor
64           6.1         2.9          4.7         1.4 versicolor
65           5.6         2.9          3.6         1.3 versicolor
66           6.7         3.1          4.4         1.4 versicolor
67           5.6         3.0          4.5         1.5 versicolor
68           5.8         2.7          4.1         1.0 versicolor
69           6.2         2.2          4.5         1.5 versicolor
70           5.6         2.5          3.9         1.1 versicolor
71           5.9         3.2          4.8         1.8 versicolor
72           6.1         2.8          4.0         1.3 versicolor
73           6.3         2.5          4.9         1.5 versicolor
74           6.1         2.8          4.7         1.2 versicolor
75           6.4         2.9          4.3         1.3 versicolor
76           6.6         3.0          4.4         1.4 versicolor
77           6.8         2.8          4.8         1.4 versicolor
78           6.7         3.0          5.0         1.7 versicolor
79           6.0         2.9          4.5         1.5 versicolor
80           5.7         2.6          3.5         1.0 versicolor
81           5.5         2.4          3.8         1.1 versicolor
82           5.5         2.4          3.7         1.0 versicolor
83           5.8         2.7          3.9         1.2 versicolor
84           6.0         2.7          5.1         1.6 versicolor
85           5.4         3.0          4.5         1.5 versicolor
86           6.0         3.4          4.5         1.6 versicolor
87           6.7         3.1          4.7         1.5 versicolor
88           6.3         2.3          4.4         1.3 versicolor
89           5.6         3.0          4.1         1.3 versicolor
90           5.5         2.5          4.0         1.3 versicolor
91           5.5         2.6          4.4         1.2 versicolor
92           6.1         3.0          4.6         1.4 versicolor
93           5.8         2.6          4.0         1.2 versicolor
94           5.0         2.3          3.3         1.0 versicolor
95           5.6         2.7          4.2         1.3 versicolor
96           5.7         3.0          4.2         1.2 versicolor
97           5.7         2.9          4.2         1.3 versicolor
98           6.2         2.9          4.3         1.3 versicolor
99           5.1         2.5          3.0         1.1 versicolor
100          5.7         2.8          4.1         1.3 versicolor
101          6.3         3.3          6.0         2.5  virginica
102          5.8         2.7          5.1         1.9  virginica
103          7.1         3.0          5.9         2.1  virginica
104          6.3         2.9          5.6         1.8  virginica
105          6.5         3.0          5.8         2.2  virginica
106          7.6         3.0          6.6         2.1  virginica
107          4.9         2.5          4.5         1.7  virginica
108          7.3         2.9          6.3         1.8  virginica
109          6.7         2.5          5.8         1.8  virginica
110          7.2         3.6          6.1         2.5  virginica
111          6.5         3.2          5.1         2.0  virginica
112          6.4         2.7          5.3         1.9  virginica
113          6.8         3.0          5.5         2.1  virginica
114          5.7         2.5          5.0         2.0  virginica
115          5.8         2.8          5.1         2.4  virginica
116          6.4         3.2          5.3         2.3  virginica
117          6.5         3.0          5.5         1.8  virginica
118          7.7         3.8          6.7         2.2  virginica
119          7.7         2.6          6.9         2.3  virginica
120          6.0         2.2          5.0         1.5  virginica
121          6.9         3.2          5.7         2.3  virginica
122          5.6         2.8          4.9         2.0  virginica
123          7.7         2.8          6.7         2.0  virginica
124          6.3         2.7          4.9         1.8  virginica
125          6.7         3.3          5.7         2.1  virginica
126          7.2         3.2          6.0         1.8  virginica
127          6.2         2.8          4.8         1.8  virginica
128          6.1         3.0          4.9         1.8  virginica
129          6.4         2.8          5.6         2.1  virginica
130          7.2         3.0          5.8         1.6  virginica
131          7.4         2.8          6.1         1.9  virginica
132          7.9         3.8          6.4         2.0  virginica
133          6.4         2.8          5.6         2.2  virginica
134          6.3         2.8          5.1         1.5  virginica
135          6.1         2.6          5.6         1.4  virginica
136          7.7         3.0          6.1         2.3  virginica
137          6.3         3.4          5.6         2.4  virginica
138          6.4         3.1          5.5         1.8  virginica
139          6.0         3.0          4.8         1.8  virginica
140          6.9         3.1          5.4         2.1  virginica
141          6.7         3.1          5.6         2.4  virginica
142          6.9         3.1          5.1         2.3  virginica
143          5.8         2.7          5.1         1.9  virginica
144          6.8         3.2          5.9         2.3  virginica
145          6.7         3.3          5.7         2.5  virginica
146          6.7         3.0          5.2         2.3  virginica
147          6.3         2.5          5.0         1.9  virginica
148          6.5         3.0          5.2         2.0  virginica
149          6.2         3.4          5.4         2.3  virginica
150          5.9         3.0          5.1         1.8  virginica

    setosa versicolor  virginica
     5.006      5.936      6.588

### mapply

In [150]:
a = 1:4
b = 4:1
a
b
mapply(rep,a,b)

[1] 1 2 3 4

[1] 4 3 2 1

[[1]]
[1] 1 1 1 1

[[2]]
[1] 2 2 2

[[3]]
[1] 3 3

[[4]]
[1] 4